/*

Write your custom styles and overrides of Bootstrap in this file.

For example, if you wanted to change the body font:

body {
  font-family: "Vollkorn";
}

*/
element.style {
}
body {
background: white;
}
html, body {
height: 100%;
}
body {
margin: 0;
}
* {
margin: 0;
padding: 0;
}
user agent stylesheetbody {
display: block;
margin: 8px;
}

